.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.item {
  background-color: antiquewhite;
  border-radius: 0.5rem;
  text-align: center;
}

.item h5 {
  font-size: 20px;
}